<div *ngIf="!showForm">
  <a href (click)="showResetForm()">forgot your password?</a>
</div>
<div *ngIf="showForm">
  <div *ngIf="!submitted">
    <p>Request a password reset link:</p>
    <div class="form-group">
      <label for="resetEmail">Email</label>
      <input id="resetEmail" type="text"
             class="form-control"
             name="resetEmail"
             placeholder="Email" [(ngModel)]="credentials.email">
    </div>
    <button type="button" class="btn btn-primary" (click)="requestReset()">Send</button>
    <server-errors [serverErrors]="errors"></server-errors>
  </div>
  <br />
  <div *ngIf="result">
    <div class="alert alert-success" role="alert">
      {{result}}
    </div>
  </div>
</div>
