<div class="row justify-content-center">
  <div class="col-xs-12 col-md-4">
    <div class="card">
      <div class="card-header"><h3>Our Vocabulary Recipe</h3><p class="text-muted">A complete solution for teaching vocabulary in context.</p></div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">1. Engage</dt>
          <dd class="col-sm-9">Pick something interesting for your class to read. The world is your textbook.</dd>

          <dt class="col-sm-3 text-truncate">2. Level</dt>
          <dd class="col-sm-9">Use the <a [routerLink]='["/profile"]'>profiler</a> to adjust it to the appropriate level.</dd>

          <dt class="col-sm-3">3. Define</dt>
          <dd class="col-sm-9">Use the built-in dictionaries or add your own definitions or translations to new words.</dd>

          <dt class="col-sm-3">4. Share</dt>
          <dd class="col-sm-9">Organize readings and share them with students using tags.</dd>

          <dt class="col-sm-3">5. Pretest</dt>
          <dd class="col-sm-9">Before each reading, VocabKitchen pretests students so they only spend time on words they don't know.</dd>

          <dt class="col-sm-3">6. Read</dt>
          <dd class="col-sm-9">Students can view contextualized definitions as they read.</dd>

          <dt class="col-sm-3">7. Learn</dt>
          <dd class="col-sm-9">VocabKitchen generates individualized, scaffolded vocabulary practice that combine pronunciation, spelling and meaning.</dd>

          <dt class="col-sm-3">8. Review</dt>
          <dd class="col-sm-9">Use data about each student's progress to guide review activities.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sign up and try it.</h3>
        <p>Just want to use the <a [routerLink]='["/profile"]'>profiler</a>? No problem. For everything else you'll need an account.</p>
        <a class="btn btn-primary" [routerLink]='["/sign-up"]'>Sign Up</a>
        <p class="mt-3">Already have an account?</p>
        <a class="btn btn-outline-primary" [routerLink]='["/login"]'>Sign In</a>
      </div>
    </div>
  </div>
</div>
